@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: "Kanit", sans-serif;
    overscroll-behavior: none;
    background: #f2f2f2;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: center;
}

.down-arrow {
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    text-align: center;
    transition: all 0.4s ease;
    animation: move-down 1.5s infinite alternate ease-in-out;
}

@keyframes move-down {
    0%, 100% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }
}

#menu-title {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translateY(0);
}

#menu-title.fadeout {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

#menu-show {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -120%;
    left: 0;
    background-color:#1c1c1c;
    z-index: 100;
    transition: all 1s ease-in-out; 
}


.show-menu {
    top: 0 !important;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f2f2f2;
    transition: transform 0.1s ease;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    display: block;
    z-index: 1;
}




/* -------------------- CUSTOM NAV -------------------- */

.custom-nav {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: .5em;
    z-index: 999;
}

.custom-nav-item {
    max-width: fit-content;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 2rem;
    padding: 0 .55rem;

    background: #f2f2f2;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.custom-nav-item ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.custom-nav-item ul li {
    padding: .35rem 2rem;
    border-radius: 5rem;
}

.custom-nav-item ul li.active {
    background-color: #1c1c1c;
    color: #f2f2f2;
}



/* -------------------- HOME SECTION -------------------- */

.home-container {
    position: relative;
    width: 80%;
    height: 500px;
    border-radius: .65rem;

    background: #f2f2f2;
}


.left-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 65px;
    background: #1c1c1c;
    padding-right: 0.65rem;
    padding-bottom: 0.65rem;
    border-top-left-radius: .65rem;
    border-bottom-right-radius: .65rem;
}

.inner-left-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: .65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


.left-box::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;

    background: #f2f2f2;
    box-shadow: -5px -5px 0 #1c1c1c;
}

.left-box::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
    height: 15px;
    border-radius: 100%;

    background: #f2f2f2;
    box-shadow: -5px -5px 0 #1c1c1c;
}


.right-box-circle {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    padding: 0.65rem;
    border-radius: 100%;
    z-index: 2;
    background: #1c1c1c;
}

.inner-right-box-circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

    background: #f2f2f2;
}



.right-box-circle::before {
    content: '';
    position: absolute;
    bottom: 35px;
    right: -14px;
    width: 15px;
    height: 15px;
    border-bottom-left-radius: .65rem;
    background: #f2f2f2;
    box-shadow: -5px 6px 0 #1c1c1c;
}


.right-box-circle::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: -13.5px;
    width: 15px;
    height: 15px;
    border-bottom-right-radius: .65rem;

    background: #f2f2f2;
    box-shadow: 5px 6px 0 #1c1c1c;
}

.bottom-box {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 12em;
}

.bottom-box img {
    width: 70px;
    height: 70px;
}

.bottom-box .cat-center {
    position: absolute;
    top: -3px;
    left: 51%;
    transform: translateX(-50%);
}

.bottom-box .cat-2 {
    transform: rotateY(180deg);
}


/* -------------------- SKILLS SECTION -------------------- */

.skills {
    position: relative;
}

.skills:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1c1c1c;
    transition: all 0.4s ease;
    z-index: -1;
}

.skills:hover::before {
    height: 100%;
}

.skills:hover {
    color: #f2f2f2;
}

.arrow {
    transition: all 0.4s ease;
}

.skills:hover .arrow {
    transform: rotate(-45deg);
}

.view-work {
    overflow: hidden;
    transform: translateX(-20px);
    transition: all 0.4s ease;
    opacity: 0;
    text-transform: uppercase;
}

.skills:hover .view-work {
    opacity: 1;
    transform: translateX(0);
}

.header-title-container {
    position: relative;
    padding: 1rem 2rem;

}

.header-title-container::before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: #1c1c1c;
}

.header-title-container::after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: #1c1c1c;
}

.top-box-design, .bottom-box-design {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #1c1c1c;
}


.top-box-design {
    top: -6px;
    left: -6px;
}

.bottom-box-design {
    bottom: -6px;
    left: -6px;
}


.header-half {
    color: transparent;
    -webkit-text-stroke-color: #1c1c1c;
    -webkit-text-stroke-width: 2px;
}


/* .header-title h1 {
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.header-title h1.page-loaded {
    transform: translateY(0%);
} */

.project-wrapper {
    display: flex;
}

.slide {
    flex: 1 0 100%;
    display: none;
    transition: all 0.5s ease;
}

.slide.active {
    display: block;
}

.target-div {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.target-div.active {
    display: flex;
    align-items: center;

    background: #1c1c1c;
    color: #f2f2f2;
    border-radius: 0.25em;
}

.target-div:not(.active):hover {
    background: rgba(28, 28, 28, .6);
    border-radius: 0.25em;
    color: #f2f2f2;
}



.bento-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.bento-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
    border-radius: .5rem;
}

.item-large {
    grid-column: span 3;
}

.item-small {
    grid-column: span 2;
}

/* -------------------- ABOUT PAGE -------------------- */

.profile {
    width: 280px;
    height: 350px;
    background: linear-gradient(rgba(28, 28, 28, .1), rgba(28, 28, 28, .1)), url(../assets/img/profile.JPG);
    background-size: cover;
    background-position: center;
}


/* -------------------- PROJECTS PAGE -------------------- */


.project-1, .project-2, .project-3, .project-4 {
    position: relative;
}


.website-container {
    flex: 0 0 calc(100% / 2);
    max-width: 0 0 calc(100% / 2);
    padding: 1em;
}

.website-item {
    width: 100%;
    height: 100%;
    background-color: red;
}

.website-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.graphics-container {
    flex: 0 0 calc(100% / 3);
    max-width: 0 0 calc(100% / 3);
    padding: 1em;
}

.graphics-item {
    width: 100%;
    height: 450px;
    background-color: red;
}

.graphics-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.tech-stack-container {
    flex: 0 0 calc(100% / 6);
    max-width: 0 0 calc(100% / 6);
    padding: 1em;
    margin-bottom: 4em;
}

.tech-stack-item {
    margin: auto;
    width: 100px;
    height: 100px;
}

.tech-stack-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.active {
    display: block;
}

.filters .filter-item.active {
    background-color: #f2f2f2;
    color: #1c1c1c;
}

/* -------------------- SCALE UP -------------------- */

#contact {
    display: flex;
    justify-content: center;
    min-height: 200vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.scale-up-container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(.5);
    will-change: transform;
    background: #1c1c1c;
    padding: 2em 2em;
}

/* -------------------- SCALE DOWN -------------------- */

#home {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.scale-down-container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    will-change: transform;
    background: #f2f2f2;
    border-radius: 0;
}


#showToggle, #closeToggle {
    z-index: 999;
    transition: .3s;
}


#content-overlay {
    width: 100%;
    height: fit-content;
}

/* -------------------- CONTACT -------------------- */

.contact-container {
    flex: 0 0 50%;
    max-width:  0 0 50%;
    padding: 0.5em;
}

.contact-item {
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.input-container {
    flex: 0 0 50%;
    max-width:  0 0 50%;
    padding: 0.5em;
}

.input-item {
    width: 100%;
    margin-top: 0.5em;
}

.input-item input {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    background: transparent;
    border-bottom: 2px solid #1c1c1c;
}

input:focus, textarea:focus {
    outline: none;
}


.input-item textarea {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    background: transparent;
    border-bottom: 2px solid #1c1c1c;
    resize: none;
}

.button-container {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.button-container button {
    position: relative;
    border: 2px solid #1c1c1c;
    color: #1c1c1c;
    padding: 0.5em 3em;
    border-radius: 3em;
    overflow: hidden;
    z-index: 2;
}

.button-container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: #1c1c1c;
    transition: all 0.5s ease;
}

.button-container button:hover::before {
    width: 100%;
}

.button-container button:hover {
    color: #f2f2f2;
}





/* -------------------- LOADER -------------------- */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper {
    width: 120px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background: #1c1c1c;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 15px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(28, 28, 28, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
  }
  
  @keyframes shadow {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  



/* -------------------- DISPLAY AND HIDE THE LOADER -------------------- */

.loaded .loader {
    display: none;
}


/* -------------------- MEDIA QUERIES -------------------- */
@media only screen and (max-width: 968px) { 
    .contact-container, .input-container {
        flex: 0 0 100%;
        max-width: 100%;
    }


}

@media only screen and (max-width:768px)  {
    .custom-nav {
        display: none;
    }
}


@media only screen and (max-width:576px) {

    #showToggle {
        display: flex !important;
        top: 1.5rem;
        right: 1.5rem;
    }

    #closeToggle {
        top: 1.5rem;
        right: 1.5rem;
    }
    

    .website-container, .graphics-container {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tech-stack-container {
        flex: 0 0 50%;
        max-width: 0 0 50%;
    }

    
    .bottom-box .cat-center {
        left: 52.5%;
    }

    .home-container {
        width: 90%;
    }

    .custom-nav {
        display: none;
    }

    .header-title-container {
        padding: 1rem 1.5rem;
        border: 2px solid red;
    }

    .bento-item.item-large, .bento-item.item-small {
        grid-column: span 5;
    }
}
